*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: Helvetica, Arial, sans-serif;
}
/*---------main file formatting------------*/
.hero {
    background-image: url('https://b.zmtcdn.com/images/foodshots/cover/pizza3.jpg');
    background-size: cover;
    min-height: 300px;
    border-radius: 4px;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .navbar {
    color: white;
    background-color: #cb202d;
}

#app .navbar a {
    color: white;
}

.hidden {
    display: none;
}
/* login page formatting-----*/
#app .login {
    background:url("login.jpg");
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 196, 113, 0.5);
    padding: 1rem;
    padding-top: 0;
    border-radius: 4px;
}
/*-----------restaurant details---------*/

.hero {
    margin-bottom: 2rem;
}

.restaurant {
    background-color: white;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 4px;
}

.rest-wrapper {
    display: flex;
    font-family: sans-serif;
}

.rest-wrapper .image {
    margin-right: 1rem;
}

.rest-wrapper .image img {
    border-radius: 4px;
}

.rest-wrapper .rest-name {
    font-size: 24px;
    color: #cb202d;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1rem;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #89959B;
     flex: none;
     margin-right: 2rem;
}

.restaurant .rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}

/*-------------search bar--------*/
.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}
/*-------------best dish button ----------------------*/

.bestDish .button {
    display: inline-block;
    background-color:#cb202d;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

/*----favourite file image ---*/
.favcolor{
  background: url("https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg");
}
/*----------------------------Fav  page formatting of lists------*/
.list {
  background-color:lightgrey;
  margin-top: 10px;
  width: 20%;

}
/* --- formatting of list of u may like ---*/

#list1 {
    margin-bottom: 20px;
    margin-left: 400px;
}

/* --- formatting of list of u not like ---*/
#list2 {
    margin-top: -160px;
    margin-bottom: 20px;
    margin-left: 680px;
}
/*------main page image formatting----*/
.homeimg{

  background: url("http://1.bp.blogspot.com/-QMycxKuC4rs/TVfTdhs3RwI/AAAAAAAAAGs/mRaNUUe3Vwg/s1600/2+china+5+star+restaraunt.jpg");
  background-size: cover;
  height: 1300px;
  width: auto;
}
.resimg{
  background: url("http://www.kavach.mobi/images/Restaurants.jpg");
  background-size: cover;
height:660px;
}
