<!------------------------------------------------------------login form--------------------------------------------------------------------->
  <div class="login" ng-controller="loginController">

      <div class="login-form">

<center><b>
          <h1> LOGIN </h1></b></center>

       <form name="loginForm">
 <!-------------------------------------------------name------------------------------------------------------>
         <div class="form-group">
      <label for="Name"> Name</label>
      <input type="name" class="form-control" id="user-name" placeholder="name" name="name" ng-model="user.name" required="">
</div>
<!--------------------------------------------------------phone number------------------------------------------>
<div class="form-group">
  <label for="Name"> Contact no.</label>
  <input type="number" class="form-control" id="user-number" placeholder="number" name="mobile_number" ng-model="mobile_number" required=""  ng-pattern="/^[7-9][0-9]{9}$/">
<div ng-show="loginForm.mobile_number.$error.pattern">not valid number!Please start number from 7-9</div> <!---use only number not character---->
</div>
<!-----------------------------------------------------------email address----------------------------------------------------------------->
  <div class="form-group">
    <label for="user-email">Email address</label>
    <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" required="" ng-model="user.email"> <!--use of ng-model attribute-->
    <div ng-show="loginForm.email.$error.required">Required!</div>
    <div ng-show="loginForm.email.$error.email">This doesn't look like a valid email</div>
  </div>

<!------------------------------------------------------------password--------------------------------------------------------------------->
  <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password" ng-minlength="6" ng-maxlength="15"> <!--use of ng-model attribute-->
  <div ng-show="loginForm.password.$error.minlength">
  Password must be at least 6 characters long
  </div>
  <div ng-show="loginForm.password.$error.maxlength">
  Password must be at most 15 characters long
  </div>
  <div ng-show="loginForm.password.$error.required">
  Please enter your password
  </div>
  </div>
  <!---------- use ng-click in button-----------------------------------><center>
  <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="goToHome()">Login</button> <!--use of ng-disabled to highlight if email and password condition is true---->
</center>
  </form>
     </div>
  </div>
