<!----------to show only one restaurant details---------------------->
<div class="restaurant" ng-if="restaurant.name"> <!---show data if condition is true--->
    <div class="rest-wrapper">
        <div class="image">
            <img ng-src="{{restaurant.image}}" height="100" width="100">
        </div>
        <div class="rest-info">
            <div class="rest-category">
               <small>{{restaurant.category}} </small>
            </div>
            <div class="rest-name"><strong>{{restaurant.name}}</strong>
            </div>
            <div>
               <strong> {{restaurant.location}}</strong>
            </div>
            <div class="rest-address">
                {{restaurant.address}}
            </div>
        </div>
    </div>


    <div class="rest-extra">
        <div class="type">
            <div><small>Cuisines:</small></div>
            <div><small>Cost for Two: </small></div>
            <div><small>Hours:</small></div>
        <div ng-if="restaurant.bestDish"><small>Recommended: </small></div>
        </div>
        <div class="value">
            <div>{{restaurant.cuisines}}</div>
            <div>₹{{restaurant.cost | number}}</div>
            <div>{{restaurant.hours}}</div>

            <!-----------to get ingredient sof best dish ---->
            <div class="bestDish" ng-if="restaurant.bestDish">
             <span>{{restaurant.bestDish.name}} </span>
             <div ng-click="getIngredients(restaurant.bestDish.image)" class="button">Get Ingredients</div>

<!---- to go to favourite food dish----->
            <div ng-click="goToFav()" class="button">See Your fav Dishes</div>
        </div></div>
    </div>
    <div class="rating">
        <strong>{{restaurant.vote}}</strong>
    </div>



<!------list to show ingredients of bestDish---------->
<div ng-if="ingredients">
    <ol>
    <li ng-repeat="ingredient in ingredients">
    {{ingredient}}
    </li>
    </ol>
</div>

</div>

<!--------error to show if restaurant name is not found-------->
<h1 ng-hide="restaurant.name">error 404: not found</h1>
